.bg-container {
   background-color: pink;
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 15px;
}

.button {
    height: 36px;
    width: 138px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}
